.BannerDiv {
    position: relative;
}

.BannerText {
    position: absolute;
    top: 30px;
    font-size: 48px;
    color: white;
        left: 14%;
        right: 14%;
        
    @media screen and (max-width: 768px){
        font-size: 24px;
        top: 0;
        left: 15px;
        right: 60px;
    }
}

.div {
    margin: 0px 45px 0px;
    margin-bottom: 80px;
    @media screen and (max-width: 768px){
        margin: 20px;
    }
    .card {
        @media screen and (max-width: 768px){
            flex-direction: column;
            margin: 0px;
            background-color: white;
        }

        background-color: #F6F6F6;
        width: 100%;
        margin: 0;
        border-radius: 20px;
        padding-top: 25px;
        padding-bottom: 25px;

        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    section {
        width: 100%;
        height: 340px;
        margin: 5px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        :hover {
            cursor: pointer;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .pictureCard {
            @media screen and (max-width: 768px){
                min-height: 100%;
                width: 100%; 
                object-fit: cover;
            }
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            z-index: 1;
            
        }
        .gradient {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255,255,255,0) 35%, rgba(93,93,93,1) 100%);
            position: absolute;
            z-index: 2;
            margin: 0px;
            //opacity: 0.7;
        }
        
        p{
            width: 90%;
            position: absolute;
            top : 82%;
            color: white;
            margin: 10px;
            font-size: 18px;
            z-index: 3;
            text-align: left;
        }

    }
    
}

.acceuil {
    width: 30%;
    margin: 10px;
    @media screen and (max-width: 768px){
        width: 100%;
        margin-left: 0;
    }
}

.Banner {
    margin-bottom: 89px;
    height: 223px;
    filter: brightness(80%);
    @media screen and (max-width: 768px){
        margin-bottom: 10px;
        height: 111px;
    }
}


