body {
    font-family: Montserrat; 
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
    @media screen and (max-width: 768px){
        margin-left: 20px;
        margin-right: 20px;
    }
}

.Banner {
    width: 100%;
    border-radius: 20px;


}